.nested {
  ul {
    border: 1px solid red;
    li {
      border: 1px solid blue;

      &:last-child {
        padding: 10px;
        text-decoration: underline;
      }
    }
  }
}

.button {
  font-size: 1.2rem;
  color: white;
  background-color: green;
  &-large {
    font-size: 1.6rem;
  }
}
